{% extends "base.html" %}
{% block title %} Ukrainian Wordnet {% endblock %}
{% block content_title %}
<h1>Ukrajinet</h1>
You are now logged in and ready to work.

<!-- <a href="{{ url_for('logout') }}">Click here to log out.</a> -->
<br>
{% endblock %}
{% block content %}

<div id="sidebar">
    <ul>
        <li>
            <a href="#lexical-entries">Go to Lexical Entries</a>
        </li>
        <li>
            <a href="#synsets">Go to Synsets</a>
        </li>
    </ul>
</div>

<center>
<h2 id="lexical-entries">Lexical Entries</h2>
</center>

<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Word</th>
        <th scope="col">POS</th>
        <th scope="col">Sense</th>
      </tr>
    </thead>

{% for key, value in retrieve_lex_entries.items(): %}
    {% set id_lex_entry = key %}
    {% set lemma_lex_entry = value['Lemma_writtenForm'] %}
    {% set pos_lex_entry = value['Lemma_partOfSpeech'] %}
    {% set sense_lex_entry = value['Sense'] %}

    {% if pos_lex_entry == 'n' %}
        {% set pos_lex_entry = 'noun' %}

    {% elif pos_lex_entry == 'v' %}
        {% set pos_lex_entry = 'verb' %}
    
    {% endif %}

    <tbody>
        <tr>
            <td>{{ id_lex_entry }}</td>
            <td>{{ lemma_lex_entry }}</td>
            <td>{{ pos_lex_entry }}</td>
            <td>{{ sense_lex_entry }}</td>
        </tr>
    </tbody>

{% endfor %}
</table>

<center>
<h2 id="synsets">Synsets</h2>
</center>

<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Synset ID</th>
        <th scope="col">ILI</th>
        <th scope="col">POS</th>
        <th scope="col">Definition</th>
      </tr>
    </thead>

{% for key, value in retrieve_synsets.items(): %}
    {% set id_synset = key %}
    {% set ili_synset = value['Synset_ili'] %}
    {% set pos_synset = value['Synset_pos'] %}
    {% set definition_synset = value['Synset_definition'] %}

    {% if pos_synset == 'n' %}
        {% set pos_synset = 'noun' %}

    {% elif pos_synset == 'v' %}
        {% set pos_synset = 'verb' %}
    
    {% endif %}

    <tbody>
        <tr>
            <td>{{ id_synset }}</td>
            <td>{{ ili_synset }}</td>
            <td>{{ pos_synset }}</td>
            <td>{{ definition_synset }}</td>
        </tr>
    </tbody>

{% endfor %}
</table>

{% endblock %}